footer {
	background-color: #333333;
	color: rgba(155,155,155, 0.7);
	color: white;
}

.content {
	max-width: 1000px;
	margin: 0 auto;
	padding: 2em;
}

.socials {
	width: 100%;
	margin: 10px 0;
}

.soc-container {
	display: flex;
	flex-direction: row;
}

.social {
	width: 50px;
	cursor: pointer;
	margin-right: 10px;
}

@media only screen and (max-width: 726px) {
	.content {
		max-width: 700px;
	}
}
